{% extends 'home/home.html' %} {% block body %}
<link rel="stylesheet" href="/static/styles/search.css" />
<div class="row">
  <p
    class="h3"
    style="color: #88c5cc; padding: 50px 0px 0px 50px; max-height: 100px"
  >
    Book Catalog
  </p>
</div>

<div class="row flex-fill">
  <div class="grid search">
    <div class="grid-body">
      <div class="row">
        <!-- BEGIN RESULT -->

        <hr />
        <!-- BEGIN SEARCH INPUT -->
        <form method="POST" class="input-group">
          {{ form.hidden_tag() }} {{ form.search(class_="form-control") }}
          <span class="input-group-btn">
            <button
              type="submit"
              name="search"
              value="x"
              class="btn btn-primary"
            >
              <i class="fa fa-search"></i>
            </button>
          </span>
        </form>

        <!-- END SEARCH INPUT -->
        <div class="padding"></div>
        <br />
        <!-- BEGIN TABLE RESULT -->
        <div class="table-responsive">
          <table class="table table-dark">
            <tbody>
              {% for book in books %}
              <tr>
                <td class="number text-center">{{ loop.index }}</td>
                <td class="image">
                  <img src="/static/images/cover.jpg" />
                </td>
                <td class="product">
                  <strong>{{ book[0][1] }} </strong><br />{{ book[1] }}<br />{{
                  book[0][2] }}<br />Copies available: {{ book[2] }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- END TABLE RESULT -->

        <!-- END RESULT -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
