{% extends 'admin/dash.html' %} {% block adminbody %}

<div class="row" style="margin-left: 30px; max-height: 100px; color: #88c5cc">
  <div class="table-title">
    <div class="row">
      <div class="col" style="margin-top: 30px">
        <h5>Modify customer information:</h5>
      </div>
    </div>
  </div>
  <form method="POST" action="">
    {{ form.hidden_tag() }} <br />
    <div class="div_form">{{ form.id(class_="input_field") }}</div>
    <div class="div_form">{{ form.fname(class_="input_field") }}</div>
    <div class="div_form">{{ form.mname(class_="input_field") }}</div>
    <div class="div_form">{{ form.lname(class_="input_field") }}</div>
    <div class="div_form">{{ form.street(class_="input_field") }}</div>
    <div class="div_form">{{ form.city(class_="input_field") }}</div>
    <div class="div_form">{{ form.state(class_="input_field") }}</div>
    <div class="div_form">{{ form.zip(class_="input_field") }}</div>
    <div class="div_form">{{ form.email(class_="input_field") }}</div>
    <div class="div_form">{{ form.phone(class_="input_field") }}</div>
    <div class="div_form">{{ form.id_type(class_="input_field") }}</div>
    <div class="div_form">{{ form.id_no(class_="input_field") }}</div>
    <div class="div_form">{{ form.submit(class_="input_field") }}</div>
  </form>
</div>

<div class="container" style="color: #88c5cc; margin-top: 30px">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row" style="overflow-x: hidden">
          <div class="col">
            <h4>Customer Information</h4>
          </div>
        </div>
      </div>
      <table class="table" style="color: #ffffff">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Email</th>
            <th>Phone</th>
            <th>ID Type</th>
            <th>ID No</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
          <tr>
            <td>{{ customer[0] }}</td>
            <td>{{ customer[1] }}</td>
            <td>{{ customer[2] }}</td>
            <td>{{ customer[3] }}</td>
            <td>{{ customer[4] }}</td>
            <td>{{ customer[5] }}</td>
            <td>{{ customer[6] }}</td>
            <td>{{ customer[7] }}</td>
            <td>{{ customer[8] }}</td>
            <td>{{ customer[9] }}</td>
            <td>{{ customer[10] }}</td>
            <td>{{ customer[11] }}</td>
            <td>{{ customer[13] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
