{% extends 'home.html' %} {% block body %}

<div class="row flex-grow-1">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 my-auto" style="color: #88c5cc">
    <p class="h3">Customer Dashboard</p>
  </div>
  <div class="col-lg-2"></div>
</div>

<div
  class="row splash flex-grow-1 justify-content-center"
  style="color: #88c5cc"
>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
      <div class="card bg-dark border border-warning">
        <img src="/static/images/books.webp" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-center">Books</h5>
          <p class="card-text text-center">
            View our collection and the availability of copies.
          </p>
          <a href="/home/books" class="stretched-link"></a>
        </div>
      </div>
    </div>

    <div class="col-lg-2">
      <div class="card bg-dark border border-warning">
        <img src="/static/images/rentals.jpeg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-center">Rentals</h5>
          <p class="card-text text-center">
            See your book rental history and make payments.
          </p>
          <a href="/home/rentals" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card bg-dark border border-warning">
        <img src="/static/images/study.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-center">Study Rooms</h5>
          <p class="card-text text-center">
            See your study room reservations and make new bookings.
          </p>
          <a href="/home/study" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="card bg-dark border border-warning">
        <img src="/static/images/event.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title text-center">Events</h5>
          <p class="card-text text-center">
            See upcoming exhibitions and RSVP for tickets.
          </p>
          <a href="/home/events" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

{% endblock %}
