{% extends 'base.html' %} {% block right_navbar %}
<a
  href="/login"
  class="nav-item nav-link"
  style="color: #88c5cc; font-size: x-large"
  >Sign In</a
>
{% endblock %}{% block body %}

<div class="row flex-grow-1">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 my-auto" style="text-align: left; color: #88c5cc">
    <h1>Account Registration</h1>
    <form method="POST" action="">
      <br /><a style="font-weight: bold"
        >Pick a username and password to register.</a
      ><br />
      {{ form.hidden_tag() }} <br />
      {{ form.username }} <br /><br />
      {{ form.password }} <br /><br /><br />
      <a style="font-weight: bold">Please enter your personal details.</a
      ><br /><br />
      <a>Full name:</a><br /><br />
      <div class="div_form">{{ form.fname }}</div>
      <div class="div_form">{{ form.mname }}</div>
      <div class="div_form">{{ form.lname }}</div>
      <br /><br />
      <a>Mailing address:</a><br /><br />
      <div class="div_form">{{ form.street }}</div>
      <div class="div_form">{{ form.city }}</div>
      <br /><br />
      <div class="div_form">{{ form.state }}</div>
      <div class="div_form">{{ form.zip }}</div>
      <br /><br />
      <a>Contact information:</a><br /><br />
      <div class="div_form">{{ form.email }}</div>
      <div class="div_form">{{ form.phone }}</div>
      <br /><br />
      <a>ID information:</a><br /><br />
      <div class="div_form">{{ form.id_type }}</div>
      <div class="div_form">{{ form.id_no }}</div>
      <br /><br /><br />
      {{ form.submit }} {% with messages = get_flashed_messages() %} {% if
      messages %} <br /><br />
      <ul class="flashes">
        {% for message in messages %}
        <a>{{ message }}</a>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </form>
  </div>
  <div class="col-lg-2"></div>
</div>

{% endblock %}
